<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /E-project/persol_project/ 

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . /E-project/persol_project/index.php [L] 
</IfModule>