<div class="container" id="profile-page">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h2>Your Profile</h2>
        <div>
            
            <a href="#profile-detail" class="btn-secondary" style="margin-right: 10px; margin-top:0;">Edit Profile</a> 
            <button id="btn-logout" class="btn-danger">Logout</button>
        </div>
    </div>

    <h3>Order History</h3>
    <div class="table-container">
        <table id="order-history-table" class="data-table">
            <thead>
                <tr>
                    <th>Order Code</th>
                    <th>Date Placed</th>
                    <th>Total Amount</th>
                    <th>Order Status</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>